<app-header (navActiveEventEmitter)="navActive($event)"
            [navActivatedHome]="navActivatedHome"
            [navActivatedShop]="navActivatedShop"
            [navActivatedBlog]="navActivatedBlog"
            [navActivatedContact]="navActivatedContact">
        </app-header>
<app-home *ngIf="switchComponent === 'Home'"></app-home>
<app-shop *ngIf="switchComponent === 'Shop'" [products] = "product"></app-shop>
<app-blog *ngIf="switchComponent === 'Blog'"></app-blog>
<app-contact *ngIf="switchComponent === 'Contact'"></app-contact>